<main class="bg-gray-900 h-screen flex justify-center items-center">
    <div class="max-w-3xl">
        <h1 class="text-3xl md:text-6xl text-white font-bold text-center tracking-tight">
            Share what you&apos;re reading with your friends.
        </h1>
        <p class="text-md md:text-lg text-gray-500 text-center font-medium mt-4">
            Maintain categorized lists of your favorite articles, news stories, books,
            and more! Send your personalized link to your friends and they can view your recommendations!
        </p>
        <div class="flex justify-center mt-4 space-x-4">
            {{#if currentUser}}
            <a class="text-white font-medium text-md bg-indigo-500 py-2 px-4 rounded-md hover:bg-indigo-400"
                href="/{{currentUser.details.username}}">
                Visit your dashboard!
            </a>
            {{else}}
            <a class="text-white font-medium text-md bg-indigo-500 py-2 px-4 rounded-md hover:bg-indigo-400"
                href="/user/signup">
                Get Started Today!
            </a>
            {{/if}}
            <a class="text-indigo-500 font-medium text-md bg-white py-2 px-4 rounded-md hover:bg-gray-200"
                href="/about-us">
                Meet the Team
            </a>
        </div>
    </div>
</main>